# ---- Provider toggle ----
LLM_PROVIDER=openai          # openai | azure

# ---- OpenAI Platform (use these when LLM_PROVIDER=openai) ----
OPENAI_API_KEY=sk-proj-Jt2FPbdJcrrPyH9cJWdlOmOtrRyasrVM-0_NFgSQd44xyBye5orbXPPqadn4-aGvOgGxAgeXwG2DTcSTxd8LzmTqJwA
LLM_MODEL=gpt-4o-mini


# ---- Azure OpenAI (use these when LLM_PROVIDER=azure) ----
AZURE_OPENAI_ENDPOINT=https://<your-resource>.openai.azure.com/
AZURE_OPENAI_KEY=xxxxxxxxxxxxxxxx
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini   # deployment name you created in Azure
AZURE_OPENAI_API_VERSION=2024-06-01

# ---- Behavior ----
FEATURE_LLM_ROUTER=true
LLM_MAX_TOKENS=300
LLM_TEMPERATURE=0.2
LLM_TIMEOUT_SECS=10




blobsastoken="sp=r&st=2025-11-10T10:18:12Z&se=2025-11-10T18:33:12Z&spr=https&sv=2024-11-%2B8CtpQJfdFynSk%2FC4%2Fzk%3D"
blobsasurl="https://storagebotazuremvp.blob.core.windows.net/container"
azurespeech="xRvJYbJF4q0toLxL7jWx7IHUGXlRepk7EO8CYteLrBO0EBwpgDB8JQQJ99BKACPV0roXJ3w3AAAYACOGh4Ik"
